/*-----------------------------------------------------------------------------
   20. Footer
-----------------------------------------------------------------------------*/

.main-footer{
    background-image: url(../images/pattern/pattern-dark.jpg);
    
    .title-footer{
        color:#fff;
        margin: 0;
    }
}